<?xml version="1.0"?>

<model>
  <name>uncc_engcampus</name>
  <version>1.0</version>
  <sdf version="1.6">uncc_engcampus.sdf</sdf>

  <author>
    <name>Andrew Willis</name>
    <email>arwillis@charlotte.edu</email>
  </author>

  <description>
    A model of the UNC Charlotte engineering campus.
  </description>
</model>
